@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}
.nav-item{
  font-size: 25px;
}
h1{
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* thead{
  text-align: center;
  background-color: rgb(0, 255, 170);
} */
.table-striped th{
  /* background-color: rgb(255, 0, 93);
  border: 1rem ridge;
  border-radius: 20px; */
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.table-striped td{
  /* color: rgb(255, 0, 93);
  border: 1px solid black; 
  border-radius: 20px; */
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.p3{
  background-color: rgba(33, 138, 91, 0.792);
}

body{  
  background-image: url('https://cdn.pixabay.com/photo/2024/02/02/08/21/ai-generated-8547578_1280.png');
}
.form-label{
  font-weight: bold;
}


